name: Deploy to Minikube using GitHub Actions

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    name: build Node.js Docker Image and deploy to minikube

    steps:
      - uses: actions/checkout@v2
      - name: Start minikube
        uses: medyagh/setup-minikube@maste
      - name: Try the cluster !
        run: kubectl get pods -A
      - name: Build image
        run: |
          export SHELL=/bin/bash
          eval $(minikube -p minikube docker-env)
          # construimos una imagen local dentro de minikube
          docker build -f ./Dockerfile -t node-app:latest .
          echo -n "verifying images:"
          docker images

      - name: Deploy to minikube
        run: kubectl apply -f k8s-node-app.yaml

      - name: Wait for pod to be ready
        run: |
          kubectl get pods -A
          kubectl wait --for=condition=ready pod -l app=nodejs-app --timeout=120s

      - name: Test service URLs
        run: |
          minikube service list
          minikube service nodejs-app --url
